{{ if eq .Section "blog" }}  
  <script type="application/ld+json">
    {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title }},
  "image": {{ .Params.image | absURL }},
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {
    "@type": "Person",
    "name":{{ .Site.Params.author }}
  },
  "mainEntityOfPage": { "@type": "WebPage" },
    "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Params.organization }},
    "logo": {
      "@type": "ImageObject",
      "url": {{absURL .Site.Params.logo}}
    }
  },
  "description": {{ .Summary | plainify | safeHTML }},
  "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
} </script> {{ end }}
<script type="application/ld+json">
{ 
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ .Site.Params.organization }},
  "legalName" : "satinflame design LLC",
  "url": "https://codidharma.com",
  "logo": {{absURL .Site.Params.logo}},
  "foundingDate": "2024",
  "founders": [
    {
    "@type": "Person",
    "name": {{ .Site.Params.author }},
    "image": {{absURL .Site.Params.logo}},
    }],
  "address": {
  "@type": "PostalAddress", 
  "addressLocality": "Moshi",
  "addressRegion": "Maharashtra",
  "postalCode": "412105",
  "addressCountry": "India"
  },
  "sameAs": [ 
    "https://www.linkedin.com/in/mandar-dharmadhikari",
    "https://twitter.com/codidharma",
    "https://github.com/codidharma"
  ]
}
</script>