{{ define "main" }}
  <!--Banner-->
    {{partial "components/landingpage/banner" .}}
  <!-- /Banner -->

  <!--Newsletter-->
  {{partial "components/landingpage/newsletter" .}}
  <!--Newsletter-->

  <!-- Features -->
 {{partial "components/landingpage/features" .}}
  <!-- /Features -->

  <!--Recent Blogs-->
  {{partial "components/landingpage/recentblogs" .}}
  <!--/Recent Blogs-->

  <!-- Testimonials -->
  {{partial "components/landingpage/testimonials" .}}
  <!-- /Testimonials -->
{{ end }}
